# Data analysis with python

- Data is everywhere.<br/>
    Data is collected everywhere around us whether it's collected manually by scientists or collected digitally.<br/>
- Data analysis / data science helps us answer questions from data.<br/>
    Data analysis and, in essence, data science, helps us unlock the information from raw data to answer our questions. 
- Data analysis plays an important role.<br/>
  * Discovering useful information.
  * Answering questions.
  * Predit future.

# Scientifics computing libraries in python

1. Scientific computing libraries.
    * Pandas (Data structures and tools)
    * Numpy (arrays and matrices)
    * Scipy (integrals, solving differential equations, optimization)
2. Visualization libraries.
    * Matplotlib (plots and graphs)
    * seaborn (plots, heat maps, time series, violin graphs)
3. Algorithm libraries.
    * scikit-learn(machine learning, regression and clasification)
    * SM stacts mode(Explore data, estimate statistical models, perform statistical tests)

# Importing and Exporting Data in Python

- Data adquisition is the process of loading and reading into python from varios resourses.
    * Two important propierties.
        > formats (csv, json, xlsx, hdf) 
    * File path of dataset

## Example:

In [2]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df = pd.read_csv(url, header = None)

# Printing the Dataframe in Python


* df prints the entire dataframe(not recomended for large datasets)
* df.head(n) to show the first n rows of the entire dataframe
* df.tail(n) shows the bottom n rows of the dataframe

# Adding headers

* Replace default header by df.columuns = headers <br/>
    header = ["h_A", "h_B", "h_C",...] <br/>
    df.columns = headers <br/>
    def.head(5)<br/>

In [3]:
header = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style",
         "drive-wheels", "engine-location", "wheel-base", "length", "width", "height", "curb-weight","engine-type",
         "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower",
         "peak-rpm", "city-mpg", "highway-mpg", "price"]

df.columns = header
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

# Displaying columns name

* One way to display the columns name is using this command **df.column**

## Example:

In [4]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

# Dropping missing values.

It's possible to drop missim values using this instruction **df.dropna(subset=["feaute"], axis=0)** this is possible if the value is Nan type.

In [8]:
df.dropna(subset = ["price"], axis = 0, inplace = True)

df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

# Exporting a pandas dataframe to csv

* It's important to preserve progress anytime by saving modified dataset using path
* df.to_csv(path)

| Data Format |       Read      |      Save     |
|:-----------:|:---------------:|:-------------:|
|     csv     |  pd.read_csv()  |  df.to_csv()  |
|     json    |  pd.read_json() |  df.to_json() |
|    excel    | pd.read_excel() | df.to_excel() |
|     sql     |  pd.read_sql()  |  df.to_sql()  |


# Getting Started Analyzing Data in Python

- Basic insights from the data:
    * Understand your data before you begin any analysis
- Should check:
    * Data Types
    * Data Distribution
- Locate potential issues with the data.
    
    
# Basic Insights of DataSet  Data-Types


|        Pandas Type        |   Native Python Type   |            Description           |
|:-------------------------:|:----------------------:|:--------------------------------:|
|           Object          |         String         |        numbers and strings       |
|           int64           |           int          |        numeric characters        |
|          float64          |          float         | numeric characters with decimals |
| datatime64,timedeltas[ns] | datetime python module |             time data            |


# why check data types?

   * Potential info and type mismatch
   * Compatibility with python methods

# Data Types

* **df.dtypes**
    * It returns a list with each datatype feature.

symboling</br>        int64<br>
normalized-losses</br>     object<br>
make</br>                  object<br>
fuel-type</br>             object<br>
aspiration</br>            object<br>
num-of-doors</br>          object<br>
body-style</br>            object<br>
drive-wheels</br>          object<br>
engine-location</br>       object<br>
wheel-base</br>           float64<br>
length</br>               float64<br>
width</br>                float64<br>
height</br>               float64<br>
curb-weight</br>            int64<br>
engine-type</br>           object<br>
num-of-cylinders</br>      object<br>
engine-size</br>            int64<br>
fuel-system</br>           object<br>
bore</br>                  object<br>
stroke</br>                object<br>
compression-ratio</br>    float64<br>
horsepower</br>            object<br>
peak-rpm</br>              object<br>
city-mpg</br>               int64<br>
highway-mpg</br>            int64<br>
price</br>                 object<br>
dtype: object<br>

Sometimes the datatype of the feature is object and it does not make sense thus it's really important to transforming the data y a significant data type.

* **df.describe** 
    * it returns a statistical summary this can tell us mathematical issues that may exist such as extreme outliers and large deviations.

In [5]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

* **df.describe(include == "all")**
    * It provides full summary statistics including object type atribute.
    
    * Unique: It's the number of distintic objects in the column <br/>
    * Top: It't most frequently occuring object.
    * Freq: It's the number of times the top object apppears in the column

In [6]:
df.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

* dataframe.info
    * it provides a concise summary of your dataframe **df.info()**

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

# Selecting columns from a dataset

It's possible to select columns from a dataset using this instruction. **dataframe[[' column 1 ',column 2', 'column 3']]**, also it's possible to get information in base of these three columns **dataframe[[' column 1 ',column 2', 'column 3'] ].describe()**


## EXAMPLE:

In [30]:
df[['length','compression-ratio']]
df[['length','compression-ratio']].describe()

           length  compression-ratio
count  205.000000         205.000000
mean   174.049268          10.142537
std     12.337289           3.972040
min    141.100000           7.000000
25%    166.300000           8.600000
50%    173.200000           9.000000
75%    183.100000           9.400000
max    208.100000          23.000000

# Accesing Databases Using Python

![DBACCESS](./dbAccess.svg)

## What is a SQL API?


![SQLAPI](./SQLAPLI.png)

An application programming interface is a set of functions that you can call to get access to some type of servers.<br/>
The **SQL API** consists of library funtions calls as an application programming interface, API, for the **DBMS**. To pass SQL statements to the DBMS, an application programm calls functions in the **API** an it calls other functions to retrieve **Query** results and status information from the **DBMS** 


# What is DB-API?

![DBAPICALLS](./dbapicalls.svg)

DB-API is a python's standard API for accessing realational databases. It's a standart that allows you to write a single programm that works with multiple kinds of relational databases, instead of writing a separate programm for each one 

## Concepts of the Python DB Api

- **Connection objects**
    * Database connections
    * Manage transactions
- **Cursor Objects**
    * Database Queries
    
## What are connection methods?
- cursor() method  returns a new cursor object using the connection.
- commit() method is use to commit any pending transaction to the database
- The rollback method cause the database to roll backk to the start of any pending transaction    
- close() close the database connection


## Writing code using DB-API


```python
from dbmodule import connect

#create connection object
connection = connect('databasename', 'username', 'pswd')

#create a cursor object
cursor = connection.cursor()

#Run queries
cursor.execute('select * from mytable')
results = cursor.fetchall()

#Free resourses
cursor.close()
connection.close()
```